.header-container {
  background-color: #201a16;
  padding: 20px;
  margin-bottom: 30px;
}

.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-icon {
  width: 24px;
}
